%h1 My Logins

= link_to 'Add new', new_user_login_path, class: 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %td Login ID
      %td Bank
      %td Status
      %td Refresh
      %td Reconnect
      %td Destroy
  %tbody
    - @logins.each do |login|
      %tr
        %td= link_to login['id'], user_login_accounts_path(login['id'])
        %td= login['provider_name']
        %td= login['status']
        %td
          = link_to user_login_refresh_path(login['id']), method: :put do 
            %span.fa.fa-refresh
              refresh tipa
        %td
          = link_to user_login_reconnect_path(login['id']) do 
            %span.fa.fa-repeat
              reconnect tipa
        %td
          = link_to user_login_path(login['id']), method: :delete do  
            %span.fa.fa-trash
              destroy tipa


= link_to 'Back', root_path, class: 'btn'