%h1 My Logins

= link_to 'Add new', new_user_login_path
%table
  %tr
    %td Login ID
    %td Bank
    %td Status
  - @logins['data'].each do |login|
    %tr
      %td= link_to login['id'], user_login_path(login['id'])
      %td= login['provider_name']
      %td= login['status']
      %td= link_to 'Refresh'
      %td= link_to 'Destroy'