%h1= "Accounts for Login \##{params[:id]}"

%table
  %tr
    %td Name
    %td Balance
    %td Currency
    %td Type
    %td Card
  - @accounts['data'].each do |account|
    %tr
      %td= link_to account['name']
      %td= account['balance']
      %td= account['currency_code']
      %td= account['nature']
      %td= account['extra']['card_type']
